@{
    ViewData["Title"] = "Liên hệ";
}

<!-- Contact Section Begin -->
<section class="contact spad">
    <div class="container">

        <div class="row mb-5">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="contact__widget text-center">
                    <span class="icon_phone"></span>
                    <h4>Điện thoại</h4>
                    <p>+84 912 202 605</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="contact__widget text-center">
                    <span class="icon_pin_alt"></span>
                    <h4>Địa chỉ</h4>
                    <p>Nguyễn Khuyến, KP5, P. Trảng Dài, Đồng Nai</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="contact__widget text-center">
                    <span class="icon_mail_alt"></span>
                    <h4>Email</h4>
                    <p>support@tunhantamtinh.com</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="contact__form">
                    <div class="section-title">
                        <h2>Gửi liên hệ</h2>
                    </div>

                    <form>
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <input type="text" placeholder="Họ và tên">
                            </div>

                            <div class="col-lg-6 col-md-6">
                                <input type="email" placeholder="Email">
                            </div>

                            <div class="col-lg-12 text-message">
                                <textarea placeholder="Nội dung liên hệ"></textarea>
                                <button type="submit" class="site-btn">
                                    Gửi liên hệ
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-lg-6 col-md-6">
                <div class="contact__map">
                    <iframe
                        src="https://www.google.com/maps?q=Nguyễn+Khuyến,+Khu+phố+5,+Trảng+Dài,+Biên+Hòa,+Đồng+Nai&output=embed"
                        height="450"
                        style="border:0; width:100%; border-radius: 10px;"
                        allowfullscreen=""
                        loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade">
                    </iframe>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact Section End -->