@{
    var currentController = ViewContext.RouteData.Values["Controller"]?.ToString();
    var currentAction = ViewContext.RouteData.Values["Action"]?.ToString();
}

<partial name="_HeaderHamburger.cshtml" />
<!-- Header Section Begin -->
<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-12 h-left d-flex justify-content-lg-start justify-content-center">
                <div class="header__logo">
                    <a asp-controller="Home" asp-action="Index"><img src="~/images/Banner/logotoy.png" alt="Hobby Shop"></a>
                </div>
            </div>
            <div class="col-lg-5 d-none d-lg-block">
                <nav class="header__menu">
                    <ul>
                        <li class="@(currentController == "Home" && currentAction == "Index" ? "active" : "")">
                            <a asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="@(currentController == "Products" ? "active" : "")">
                            <a asp-controller="Products" asp-action="Index">Shop</a>
                        </li>
                        <li>
                            <a href="#">Pages</a>
                            <ul class="header__menu__dropdown">
                                <li><a href="./shop-details.html">Shop Details</a></li>
                                <li><a href="./shoping-cart.html">Shoping Cart</a></li>
                                <li><a href="./checkout.html">Check Out</a></li>
                            </ul>
                        </li>
                        <li><a href="./contact.html">Contact</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-4 h-right d-none d-lg-flex">
                <div class="header__lang">
                    <img src="~/img/language.png" alt="">
                    <span class="header__lang__text">EN</span>
                    <span class="arrow_carrot-down"></span>
                    <ul>
                        <li><a href="#">Tiếng Việt</a></li>
                        <li><a href="#">English</a></li>
                    </ul>
                </div>
                <div class="header__tabs">
                    <ul>
                        <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                        <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
                    </ul>
                </div>
                <div class="header__login">
                    <a href="#"><i class="fa fa-user"></i> Login</a>
                </div>
            </div>
        </div>
        <div class="humberger__open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</header>
<!-- Header Section End -->