@{
    var currentController = ViewContext.RouteData.Values["Controller"]?.ToString();
    var currentAction = ViewContext.RouteData.Values["Action"]?.ToString();
}

<partial name="_HeaderHamburger.cshtml" />
<!-- Header Section Begin -->
<header class="header">

    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-12 h-left d-flex justify-content-lg-start justify-content-center">
                <div class="header__logo">
                    <a asp-controller="Home" asp-action="Index"><img src="~/images/Banner/logotoy.png" alt="Hobby Shop"></a>
                </div>
            </div>
            <div class="col-lg-5 d-none d-lg-block">
                <nav class="header__menu">
                    <ul>
                        <li class="@(currentController == "Home" && currentAction == "Index" ? "active" : "")">
                            <a asp-controller="Home" asp-action="Index">Trang chủ</a>
                        </li>
                        <li class="@(currentController == "Products" ? "active" : "")">
                            <a asp-controller="Products" asp-action="Index">Cửa hàng</a>
                        </li>
                        <li>
                            <a href="#">Trang</a>
                            <ul class="header__menu__dropdown">
                                <li><a asp-controller="Cart" asp-action="Index">Giỏ hàng</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Liên hệ</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-4 h-right d-none d-lg-flex">
                <div class="header__lang">
                    <img src="~/images/vietnam.png" alt="" />
                    <span class="header__lang__text">VI</span>
                    <span class="arrow_carrot-down"></span>
                    <ul>
                        <li><a href="#">Tiếng Việt</a></li>
                        <li><a href="#">English</a></li>
                    </ul>
                </div>
                <div class="header__tabs">
                    <ul>
                        <li><a href="#"><i class="fa fa-heart"></i> <span id="favoriteCount">0</span></a></li>
                        <li class="cart-preview-wrapper">
                            <div class="cart-vc-content">
                                @await Component.InvokeAsync("Cart")
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="header__login">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div class="dropdown d-inline-block">
                            <a href="#" class="d-flex align-items-center text-dark text-decoration-none dropdown-toggle" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="@Url.Content(User.FindFirst("UserImage")?.Value ?? "~/images/user-default.png")" alt="Avatar" class="header__user-avatar">
                                <span class="header__user-name">@User.Identity.Name</span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right shadow border-0" aria-labelledby="userDropdown">
                                <li><a class="dropdown-item py-2" asp-controller="Account" asp-action="Profile"><i class="fa fa-user me-2"></i> Hồ sơ</a></li>
                                <li><a class="dropdown-item py-2" asp-controller="Cart" asp-action="Index"><i class="fa fa-shopping-bag me-2"></i> Đơn hàng</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <form asp-controller="Account" asp-action="Logout" method="post">
                                        <button type="submit" class="dropdown-item text-danger py-2"><i class="fa fa-sign-out me-2"></i> Đăng xuất</button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    }
                    else
                    {
                        <a asp-controller="Account" asp-action="Login"><i class="fa fa-user"></i> Đăng nhập</a>
                    }
                </div>
            </div>
        </div>
        <div class="humberger__open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</header>
<!-- Header Section End -->