<div class="hero__item set-bg" data-setbg="@Url.Content("~/images/Banner/banner.png")">
    <div class="hero__text">
        <span>TRINITY HOBBY SHOP</span>
        <h2>Thỏa Sức <br />Đam Mê Sưu Tầm</h2>
        <p>Mô hình chính hãng, giao hàng tận nơi</p>
        <a asp-controller="Products" asp-action="Index" class="primary-btn">MUA NGAY</a>
    </div>
</div>
