

<section class="categories">
    <div class="container">
        <div class="row">
            <div class="categories__slider owl-carousel">


                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="images/Categories/gundam-homepage.png">
                        <h5><a asp-controller="Products" asp-action="Index" asp-route-categoryId="2">GUNDAM</a></h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="images/Categories/figure-homepage.png">
                        <h5><a asp-controller="Products" asp-action="Index" asp-route-categoryId="3">FIGURES</a></h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="images/Categories/cars-homepage.png">
                        <h5><a asp-controller="Products" asp-action="Index" asp-route-categoryId="1">MINIGT</a></h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="images/Categories/tools-homepage.png">
                        <h5><a asp-controller="Products" asp-action="Index" asp-route-categoryId="4">@Loc.T("DỤNG CỤ", "HOBBY TOOLS")</a></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>