<section class="latest-product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="latest-product__text">
                    <h4>@Loc.T("Sản phẩm mới", "Latest Products")</h4>
                    @await Component.InvokeAsync("ProductLatestProducts", new { take = 6, type = "latest" })
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="latest-product__text">
                    <h4>@Loc.T("Đánh giá hàng đầu", "Top Rated")</h4>
                    @await Component.InvokeAsync("ProductLatestProducts", new { take = 6, type = "toprated" })
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="latest-product__text">
                    <h4>@Loc.T("Bán chạy nhất", "Best Sellers")</h4>
                    @await Component.InvokeAsync("ProductLatestProducts", new { take = 6, type = "popular" })
                </div>
            </div>
        </div>
    </div>
</section>