@model TuNhanTamTInh_Ecommerce.Models.ViewModels.ProductIndexViewModel

<div id="product-list-partial" class="grid-view">
    <partial name="_SortBar" model="Model.SortOptions" />
    <partial name="_ProductGrid" model="Model.Products" />
    <partial name="_Pagination" model="Model.Pagination" />
</div>
